<!DOCTYPE html>
<!--
Assignment Name: ace in the hole template
File Name: template.html
Date: 4/22/18
Programmer: Tammy Weiss
-->
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="Tammy Weiss">
    <title>Ace in the Hole</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/helper.css" rel="stylesheet" type="text/css">
    <link href="css/grid.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <?php include 'includes/nav.inc.html.php';?>
    <header>

        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </header>
    <h1>Ace in the Hole</h1>
    <div class="section group">
        <div class="col span_6_of_12">

        </div>
        <div class="col span_6_of_12">

        </div>
    </div>
    <main>
        <h2>Heading2</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

        <h2>Heading2</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <h2>Heading2</h2>
        <div class="section group">
            <div class="col span_6_of_12">

            </div>
            <div class="col span_6_of_12">

            </div>
        </div>
        <h2>Heading2</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <div class="section group">
            <div class="col span_6_of_12">

            </div>
            <div class="col span_6_of_12">

            </div>
        </div>
    </main>
    <?php include 'includes/footer.inc.html.php'; ?>

    <script src="scripts/menu.js">
    </script>

</body>

</html>